// COLORES
$primary: #041e42;
$secondary: #ff7500;
$tertiary: #a08629;
$accent: #193c63;
$success: #00ce59;
$error: #ff0000;
$default: #aaaa;

// BORDER_RADIUS
$full_radius: 15px 15px 15px 15px;
$bottom_radius: 0px 0px 15px 15px;
$top_radius: 15px 15px 0px 0px;
$shapped: 15px 0px 15px 0px;
$shapped_reverse: 0px 15px 0px 15px;
